@charset "UTF-8";
/* content.scss */
// @import "../common/variable";
@import "../common/mixin";
// 한줄주석은 변환 X

// body {
//     width: $full;
//     height: $full;
// }

body,html { @extend  %full; }

.box { @include full(); }

#wrap {
    width: 900px; height: auto; min-height: 500px;
    margin: auto;
    color: mix($white, $black);
    background-color: darken($white, 10%);
}

#header {
    width: 100%; height: 300px;
    color:rgba($black, 0.4);
    background-color: lighten($black, 70%);
}

h1 {
    width:30px; height:30px;
    // background-image: url('../img/common/logo.png');
    // background-repeat : no-repeat;
    // background-position: 50% 50%;
    // background-size: contain;

    background: {
        image: url('../img/common/logo.png');
        repeat : no-repeat;
        position: 50% 50%;
        size: contain;
    }

    // 22.06.04 수정
    // font : weight normal 16px/10px arial, myriad;
    font : {
        weight:700;
        style:normal;
        size:20px;
        family: Arial, 'myriad pro', sans-serif;
    }
    line-height:30px; // 아직은 적용이 안되서 밖에다 따로 써야된다.
    // 22.06.04 수정끝
} //h1 


// scss로 작업하는것은 css변환 가능
// css로 작업한것은 scss변환 X
// css로 수정을했다면 이후작업은 CSS에서 해야한다. 